PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0
Server={{ zabbix_server }}
ServerActive={{ zabbix_server }}
# Hostname=
Include=/etc/zabbix/zabbix_agent2.d/*.conf
TLSAccept=psk
TLSPSKIdentity={{ zabbix_agent_psk_id }}
TLSPSKFile=/etc/zabbix/zabbix-agent-psk
Include=./zabbix_agent2.d/plugins.d/*.conf